<ion-header [translucent]="false">
    <ion-toolbar>
        <ion-title>
            <div class="container">
                <ion-row>
                    <ion-col size-sm="6" size-xs="6">
                        <div class="left logo">
                            <ion-button routerLink="/"><img src="/assets/icon/secret_icon_white.png"> <span>{{ 'VIEW.LOGO_TEXT' | translate }}</span></ion-button>
                        </div>
                    </ion-col>
                    <ion-col size-sm="6" size-xs="6">
                        <div class="right">
                            <ion-row>
                                <ion-col size-sm="6" size-xs="12"><ion-button routerLink="/how-it-works"><img
                                            src="/assets/icon/tabler-icon-info-circle.svg"> <span>{{ 'VIEW.HOW_IT_WORKS' | translate }}</span> </ion-button></ion-col>
                                <ion-col size-sm="6" size-xs="6" class="download-btn"><a href="https://play.google.com/store/apps/details?id=stellar.secret.app&hl=da&gl=US"><img
                                            src="/assets/icon/download-icon.svg">
                                        {{ 'VIEW.DOWNLOAD_APP' | translate }}</a></ion-col>
                            </ion-row>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="main-sec">
    <div class="container">
        <ion-grid>
            <ion-row>
                <ion-col offset-sm="3" size-sm="6" size-xs="12">
                    <div id="container" class="ion-padding">
                        <div align="center">
                            <strong class="title">{{ 'VIEW.WELCOME_MESSAGE' | translate }}</strong>
                            <p class="sub-title">{{ 'VIEW.INSTRUCTION' | translate }}</p>
                        </div>
                    </div>

                    <!-- white box -->
                    <div class="ion-padding info-box">
                        <div class="open-message-box" *ngIf="!openMessage">
                            <p class="sub-title">{{ 'VIEW.SHOW_MESSAGE_ONCE' | translate }} </p>
                            <button class="blue-btn" (click)="openMessageBox()">{{ 'VIEW.OPEN_SECRET_MESSAGE' | translate }}  <ion-icon name="arrow-forward-outline"></ion-icon></button>
                        </div>

                        <div class="input-passphrase-box" *ngIf="openMessage && !unlocked">
                            <h3>{{ 'VIEW.INPUT_PASSPHRASE' | translate }}</h3>
                            <p class="sub-title">{{ 'VIEW.SHOW_MESSAGE_ONCE' | translate }} </p>
                            <ion-input [(ngModel)]="inputPassword" type="password" placeholder="{{ 'VIEW.PASS_PHRASE_PLACEHOLDER' | translate }}"></ion-input>
                            <div style="margin-bottom: 25px"></div>
                            <span class="blue-btn" (click)="unlockByPassword()">{{ 'VIEW.OPEN_SECRET_BUTTON' | translate }}  <ion-icon name="arrow-forward-outline"></ion-icon></span>
                        </div>

                        <div class="secret-message-box" *ngIf="unlocked">
                            <div class="inside-content">
                                <h3>{{ 'VIEW.YOUR_SECRET_MESSAGE' | translate }}</h3>
                                <span style="float: right"><img src="/assets/icon/tabler-icon-copy.svg" style="float: left; margin-right: 7px">
                                <span style="color: #2761FC; font-weight: bold; font-size: 14px; position: relative; top: -3px " (click)="copy()" *ngIf="unlocked">{{ 'VIEW.COPY' | translate }}</span></span>
                            </div>
                            <div class="content-txt">
                                <h4>{{ 'VIEW.MESSAGE_LABEL' | translate }}</h4>
                                <p class="message" *ngIf="unlocked">{{secretModel.message}}</p>
                                <button class="blue-btn" (click)="reply()">{{ 'VIEW.REPLY' | translate }}</button>
                            </div>
                        </div>
                    </div>

                    <div class="box mb-4" style="text-align: center;">
                        <h3>{{ 'VIEW.DOWNLOAD_MESSAGE' | translate }}</h3>
                        <a href="https://play.google.com/store/apps/details?id=stellar.secret.app&hl=da&gl=US"><img src="/assets/icon/gplay-icon.png" /></a>
                    </div>

                    <div class="box">
                        <ul>
                            <li><img src="/assets/icon/tabler-icon-spy-off.svg" valign="top"> {{ 'VIEW.WITHOUT_TRACE' | translate }}</li>
                            <li><img src="/assets/icon/tabler-icon-user-shield.svg" valign="top"> {{ 'VIEW.PRIVACY_PROTECTED' | translate }}</li>
                            <li><img src="/assets/icon/tabler-icon-lock-check.svg" valign="top"> {{ 'VIEW.ONE_TIME_VIEWABLE' | translate }}</li>
                        </ul>
                        <div style="border: 1px #EAEAF0 solid; height: 1px; opacity: 0.1;  margin-top: 15px; margin-bottom: 15px;"></div>
                        <p>{{ 'VIEW.SECURITY_TEXT' | translate }} <strong><a href="https://stellarsecurity.com/">{{ 'VIEW.SECURITY_TEXT2' | translate }}</a></strong></p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div align="center"><br><br>
        <a href="https://stellarsecurity.com" target="_blank"><img src="assets/Company-Logo-white.png" class="logo"></a>
    </div>
</ion-content>
