<ion-header [translucent]="false">
    <ion-toolbar>
        <ion-title>
            <div class="container">
                <ion-row>
                    <ion-col size-sm="6" size-xs="6">
                        <div class="left logo">
                            <a href="/"><img src="/assets/icon/secret_icon_white.png"> <span>Stellar Secret</span></a>
                        </div>
                    </ion-col>
                    <ion-col size-sm="6" size-xs="6">
                        <div class="right">
                            <ion-row>
                                <ion-col size-sm="6" size-xs="6"><a href="#"><img
                                            src="/assets/icon/tabler-icon-info-circle.svg"> How it works </a></ion-col>
                                <ion-col class="download-btn" size-sm="6" size-xs="6"><a href="#"><img src="/assets/icon/download-icon.svg">
                                        Download App</a></ion-col>
                            </ion-row>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" *ngIf="loaded" class="main-sec">

    <div class="container">
        <ion-grid>
            <ion-row>
                <ion-col offset-sm="3" size-sm="6" size-xs="12">
                    <div id="container" class="ion-padding">
                        <div align="center">
                            <strong class="title">Hi there, you received a secret message!</strong>
                            <p class="sub-title">Write and send message, it will be deleted once read.</p>
                        </div>
                    </div>

                    <!-- white box -->
                    <div class="ion-padding info-box">
                        <div class="open-message-box" *ngIf="!openMessage">
                            <p class="sub-title">The following message will be shown <strong>only once</strong></p>
                            <button class="blue-btn" (click)="openMessageBox()">Open Secret Message</button>
                        </div>

                        <div class="input-passphrase-box" *ngIf="openMessage && !unlocked">
                            <h3>Input Passphrase</h3>
                            <p class="sub-title">The following message will be shown <strong>only once</strong></p>
                            <ion-input [(ngModel)]="inputPassword" placeholder="Passphrase"></ion-input><br>
                            <span class="blue-btn" (click)="unlockByPassword()">Open Secret Message</span>
                        </div>

                        <div class="secret-message-box" *ngIf="unlocked">
                            <div class="inside-content">
                                <h3>Your Secret Message</h3>
                                <span style="float: right"><img src="/assets/icon/tabler-icon-copy.svg" style="float: left; margin-right: 7px">
                                <span style="color: #2761FC; font-weight: bold; font-size: 14px; position: relative; top: -3px " (click)="copy()" *ngIf="unlocked">Copy</span></span>
                            </div>
                            <div class="content-txt">
                                <h4>Message</h4>
                                <p class="message" *ngIf="unlocked">{{secretModel.message}}</p>
                                <button class="blue-btn" (click)="reply()">Reply</button>
                            </div>
                        </div>
                    </div>


                    <div class="box mb-4" style="text-align: center;">
                        <h3>Download Stellar Secret on mobile, create your secret messages</h3>
                        <img src="/assets/icon/gplay-icon.png" />
                    </div>

                    <div class="box">
                        <ul>
                            <li><img src="/assets/icon/tabler-icon-spy-off.svg" valign="top"> Without a trace.</li>
                            <li><img src="/assets/icon/tabler-icon-user-shield.svg" valign="top"> Privacy Protected</li>
                            <li><img src="/assets/icon/tabler-icon-lock-check.svg" valign="top"> One-time viewable</li>
                        </ul>
                        <div style="border: 1px #EAEAF0 solid; height: 1px; opacity: 0.1;  margin-top: 15px; margin-bottom: 15px;">
                        </div>
                        <p>Encrypted, secured and protected by <strong>Stellar Security</strong> Stellar Secret is open source</p>
                    </div>


                </ion-col>
            </ion-row>
        </ion-grid>
    </div>



</ion-content>
