ion-header {

  --ion-text-color: #fff;
  --ion-background-color: #2761FC;
  padding: 15px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background: #2761FC;
}

ion-toolbar {
  --background: transparent;

  ion-row {
    align-items: center;
  }
}
.confirmation-popup {
  --height: 200px;
}

ion-title {
  font-size: 14px;
  font-weight: bold;
}

ion-title img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  float: left;
}
.logo {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    span {
      font-size: 18px;
      font-family: 'silkaregular';
      color: #fff;
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;

  a {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.title {
  font-size: 40px;
  font-family: 'Poppins';
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.sub-title {
  font-size: 16px;
  font-family: 'Poppins';
}


ion-textarea {
  border: 1px #EAEAF0 solid;
  border-radius: 12px;
  padding-top: 8px;
  font-size: 14px;
  --ion-text-color: #EAEAF0;
}

.left {
  float: left;
}

.right {
  float: right;
  font-size: 12px;
  font-weight: 600;
}

.header-md {
  /* Removes the toolbar shadow. */
  box-shadow: none !important;
}

ion-content{
  --ion-text-color: #fff;
  --ion-background-color: #2761FC;
}


.title {
  font-size: 40px;
  font-family: 'Poppins';
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.sub-title {
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 400;
}
.info-box .sub-title {
  color: rgba(11, 12, 25, 1);
}

.info-box h3 {
  color: rgba(11, 12, 25, 1);
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 600;
}

.info-box .input-passphrase-box p {
  margin-top: 0;
}
.info-box .message {
  color: rgba(11, 12, 25, 1);
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 400;
}
.info-box h4 {
  font-size: 12px;
  font-family: 'Poppins';
  FONT-WEIGHT: 400;
}
.info-box {
  border-radius: 24px;
  background: #fff;
  color: #62636A;
  padding-bottom: 40px;
  margin-bottom: 30px;
}
.mb-4 {
  margin-bottom: 30px;
}
.box h3 {
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 600;
}
.open-message-box, .secret-message-box, .input-passphrase-box {
  text-align: center;
 // display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.download-file {
  color: blue;
  cursor: pointer;
}

.inside-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.content-txt {
  text-align: left;
  //display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.content-txt p {
  margin-top: 0;
}


.box {
  border-radius: 16px; background: rgba(0, 0, 0, 0.08); padding: 30px;
  p {
    font-size: 12px;
    font-family: 'Poppins';
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 30px;
    list-style: none;
    padding:0;
    padding-bottom: 20px;
    li {
      width: calc(50% - 20px);
      font-size: 14px;
      font-family: 'Poppins';
    }
  }
}

.options {
  background-color: #F6F6FD ;
  padding: 16px;
  margin-top: 25px;
  font-size: 12px;
  color: #62636A;
  border-radius: 12px;
  font-weight: 600;
  margin-bottom: 25px;
}

ion-input {
  background-color: #EAEAF0;
  border-radius: 12px;
  --padding-start: 15px;
  --padding-end: 15px;
}

.blue-btn {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background-color: #2761FC;
  color: #fff;
  border-radius: 250px;
  font-weight: 700;
}

.timer-option {
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 12px;
  font-style: normal;
  color: #62636A;
  background-color: #fff;
  border: 1px #EAEAF0 solid;
}

.timer-option.active {
  color: #0B0C19;
  border: 1px #2761FC solid;
  --ion-background-color: #2761FC;
}

span.burn {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 16.8px */
  color: red;
}

hr {
  border-top: 1px #F6F6FD solid;
}

span.expires {
  font-size: 14px;
}

span.burn img {
  margin-right: 15px;
}

.pull-left {
  float: left;
}

h2 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}


@media only screen and (min-width: 768px) {
  ion-content {

    --padding-start: var(--ion-padding, 100px);
    --padding-end: var(--ion-padding, 100px);
    --padding-top: var(--ion-padding, 100px);
    --padding-bottom: var(--ion-padding, 100px);
    padding-top: var(--ion-padding, 100px);
    padding-bottom: var(--ion-padding, 100px);
  }

  ion-toolbar {

    --padding-start: var(--ion-padding, 100px);
    --padding-end: var(--ion-padding, 100px);
  }

  .title {
    font-size: 40px;
    font-family: 'Poppins';
    font-weight: 600;
    margin: 0;
  }



  .white-box-options {
    height: auto;
  }

}

@media screen and (max-width: 575px) {
  ion-title {
    padding: 0 10px;
  }
  .logo {
    a {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .download-btn {
    display: none;
  }


  .title {
    font-size: 25px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 10px;
  }

  .sub-title {
    text-align: center;
  }

  .main-sec {
    .info-box {
      
    }
  }

  .box {
    ul {
      row-gap: 15px;

      li {
        font-size: 12px;
      }
    }
  }

  .sub-title {
    font-size: 14px;
  }
  ion-title img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }
}

.logo {
  width: 200px;
  height: 34px;
}