<div class="confirmation-modal">
  <img src="assets/icon/tabler-icon-flame.svg" class="burn-img" alt="">
  <h2>{{ 'CONFIRMATION.YOURE_GONNA_BURN_THIS_SECRET' | translate }}</h2>
  <p>{{ 'CONFIRMATION.SECRET_UNAVAILABLE_TEXT' | translate }}</p>
  <div class="buttons">
      <button class="blue-btn" (click)="dismiss(true)">{{ 'CONFIRMATION.BURN_FOREVER' | translate }}</button>
      <button class="blue-btn transparent-btn" (click)="dismiss(false)">{{ 'CONFIRMATION.CANCEL' | translate }}</button>
  </div>
</div>
