<ion-header [translucent]="false">
    <ion-toolbar>
        <ion-title>
            <div class="container">
                <ion-row>
                    <ion-col size-sm="6" size-xs="12">
                        <div class="left logo">
                            <a href="/"><img src="/assets/icon/secret_icon_white.png"> <span>Stellar Secret</span></a>
                        </div>
                    </ion-col>
                    <ion-col size-sm="6" size-xs="12">
                        <div class="right">
                            <ion-row>
                                <ion-col size-sm="6" size-xs="6"><a href="#"><img
                                            src="/assets/icon/tabler-icon-info-circle.svg"> How it works </a></ion-col>
                                <ion-col size-sm="6" size-xs="6"><a href="#"><img src="/assets/icon/download-icon.svg">
                                        Download App</a></ion-col>
                            </ion-row>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
    <div class="container">
    <ion-grid>
        <ion-row>
            <ion-col size-sm="5" size-xs="12">
 
        <div id="container" class="ion-padding">
            <img src="/assets/icon/check-circle.png">
            <h2 class="title"> Your Secret was created</h2>
            <p class="sub-title">It will be shown only once </p>
        </div>
    </ion-col>
    <ion-col size-sm="1" size-xs="12"></ion-col>
    <ion-col size-sm="6" size-xs="12">
        <!-- white box -->
        <div class="ion-padding info-box">
            <h2>Copy link or share it.</h2>

            <ion-input value="{{url}}" readonly></ion-input><br>
            <div class="buttons">
                <span class="blue-btn" (click)="copy()">Copy</span>
                <span class="blue-btn transparent-btn">Share</span>
            </div>
            <hr>
            <p class="expires" *ngIf="secret.expires_at !== null"><strong>Expires:</strong>  {{ secret.expires_at }} (UTC TIMEZONE)</p>
            <span class="burn" (click)="delete()">
                <img src="assets/icon/tabler-icon-flame.svg" class="pull-left" alt=""> Burn Secret
            </span>

            <hr>
            <div align="center">
                <span class="create-btn" (click)="createSecret()">Create New Secret</span>
            </div>
        </div>
    </ion-col>
</ion-row>
</ion-grid>
    </div>




</ion-content>
