<app-header [title]="metaTitle" 
    [description]="metaDescription" 
    [keywords]="metaKeywords"
    [url]="url">
</app-header>

<ion-content [fullscreen]="false" class="main-sec">
    <div class="container">
    <ion-grid>
        <ion-row>
            <ion-col size-sm="5" size-xs="12">
 
        <div id="container" class="ion-padding">
            <img src="/assets/icon/check-circle.png">
            <h1 class="title"> {{'CREATEDPAGE.CREATED_TITLE'| translate}}</h1>
            <p class="sub-title">{{'CREATEDPAGE.CREATED_SUBTITLE'| translate}} </p>
        </div>
    </ion-col>
    <ion-col size-sm="1" size-xs="12"></ion-col>
    <ion-col size-sm="6" size-xs="12">
        <!-- white box -->
        <div class="ion-padding info-box">
            <h2>{{'CREATEDPAGE.CREATED_TITLE_SHARE'| translate}}</h2>

            <div class="qr-container">
                <span class="url-text">{{url}}</span>
                <button class="qr-button" id="open-modal">
                    <img class="qr-large-icon" src="./assets/qr-with-text.png" alt="QR" />
                    <img class="qr-small-icon" src="./assets/qr-icon.png" alt="QR" />
                </button>
            </div>

              <ion-modal trigger="open-modal" cssClass="centered-modal">
                <ng-template>
                  <div class="modal-content">
                    <div class="modal-close-btn" (click)="dismissModal()">
                        <ion-icon name="close"></ion-icon>
                    </div>
        
                    <div class="qr-desktop">
                        <div class="qr-title">Scan QR to open Stellar Secret app.</div>
                        <div class="qr-code-container">
                            <qr-code 
                            [value]="url"
                            size="400" errorCorrectionLevel="M" />
                            <!-- <img src="./assets/qr-code-desktop.png"> -->
                            <img src="./assets/image-in-qr.png">
                        </div>
                    </div>

                    <div class="qr-mobile">
                        <div class="qr-title">Scan the QR-code to share the Secret.</div>
                        <div class="qr-code-container">
                            <qr-code 
                            [value]="url"
                            size="350" errorCorrectionLevel="M" />
                            <img src="./assets/image-in-qr.png">
                        </div>
                    </div>
                    
                    

                  </div>
                </ng-template>
              </ion-modal>
              
            <br>
            <div class="buttons">
                <span class="blue-btn" (click)="copy()"><ion-icon name="copy-outline"></ion-icon> {{'CREATEDPAGE.CREATED_BUTTON'| translate}}</span>
                <!--span class="blue-btn transparent-btn">Share</span-->
            </div>
            <hr>
            <!--p class="expires" *ngIf="secret.expires_at !== null"><strong>Expires:</strong>  {{ secret.expires_at }} (UTC TIMEZONE)</p-->
            <span class="burn" (click)="delete()">
                <img src="assets/icon/tabler-icon-flame.svg" class="pull-left" alt=""> {{'CREATEDPAGE.CREATED_BURNSECRET'| translate}}
            </span>

            <hr>
            <div align="center">
                <span class="create-btn" (click)="createSecret()">{{'CREATEDPAGE.CREATED_CREATE_SECRET'| translate}}</span>
            </div>
        </div>
    </ion-col>
</ion-row>
</ion-grid>
    </div>


    <app-footer></app-footer>

</ion-content>
