<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <div class="left">
                <img src="/assets/icon/secret_icon_white.png"> Stellar Secret
            </div>

            <div class="right">
                <img src="/assets/icon/tabler-icon-info-circle.svg"> How it works
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div id="container" class="ion-padding">
        <div align="center">
            <strong style="font-family: Poppins;
        font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 30px */ "><img src="/assets/icon/check-circle.png" class="left"> Your Secret was created</strong>
        <p style="font-size: 14px; ">It will be shown only once </p>
        </div>
    </div>

    <!-- white box -->
    <div style="border-radius: 24px 24px 0px 0px; background: #fff; height: 100vh; color: #62636A" class="ion-padding">
        <h2>Copy link or share it.</h2>

        <ion-input placeholder="http://localhost:8100/secret/created"></ion-input><br>

        <span class="blue-btn">Copy</span><br>

        <hr>
        <span class="expires"><strong>Expires:</strong> 7 days ( 14:33, 14.02.2023)</span> <br><br>

        <span class="burn" (click)="delete()">
            <img src="assets/icon/tabler-icon-flame.svg" class="pull-left" alt=""> Burn Secret
        </span>

        <hr>
        <div align="center">
                <span style="color: #2761FC;
                font-size: 14px;
                text-align: center;
                font-style: normal;
                font-weight: 700;
                line-height: 140%;" (click)="createSecret()">Create New Secret</span>
                </div>
    </div>



</ion-content>
