<ion-header [translucent]="false">
    <ion-toolbar>
        <ion-title>
            <div class="container">
                <ion-row>
                    <ion-col size-sm="6" size-xs="6">
                        <div class="left logo">
                            <ion-button routerLink="/"><img src="/assets/icon/secret_icon_white.png"> <span>Stellar Secret</span></ion-button>
                        </div>
                    </ion-col>
                    <ion-col size-sm="6" size-xs="6">
                        <div class="right">
                            <ion-row>
                                <ion-col size-sm="6" size-xs="12"><ion-button routerLink="/how-it-works"><img
                                        src="/assets/icon/tabler-icon-info-circle.svg"> <span>How it works</span> </ion-button></ion-col>
                                <ion-col size-sm="6" size-xs="6" class="download-btn"><span  id="click-triggers"><img
                                        src="/assets/icon/download-icon.svg">
                                    Download App</span></ion-col>
                            </ion-row>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-popover trigger="click-triggers" triggerAction="click">
    <ng-template>
        <ion-content class="ion-padding">Stellar Secret is available in different stores:<br><br>
            <a href="https://stellar-security-secret.en.aptoide.com/app" target="_blank"><img style="height: 74px; width: 100%" src="assets/aptoide.png"></a><br>
            <a href="https://play.google.com/store/apps/details?id=stellar.secret.app" target="_blank"><img style="height: 74px; width: 100%"src="assets/playstore.png"></a>
            <a href="https://auroraoss.com/" target="_blank"><img style="height: 74px; width: 100%" src="assets/aurora.jpg"></a>
        </ion-content>
    </ng-template>
</ion-popover>

<ion-content [fullscreen]="false" class="main-sec">
    <div class="container">
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col size-sm="6" size-xs="12">
                    <div id="container" class="ion-padding">
                        
                        <h2 class="title">One-Time Secret Messaging</h2>
                        <p class="sub-title">Share secrets, and poof—they're gone!</p>
                    </div>
                </ion-col>
                <ion-col size-sm="6" size-xs="12">
                    <div class="screen-img">
                        <img src="assets/icon/screen-img.png" class="monkeys">
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="ion-margin-top">
                <ion-col size-sm="3" size-xs="12">
                    <div class="how-white-box">
                        <h2>Encrypted, secured and protected by <span><a href="https://stellarsecurity.com/">Stellar Security</a></span></h2>
                        <p>Stellar Secret allows you to share one-time viewable links with sensitive content in a secret link, that only you know, and the receiver knows. Its the best way, to keep sensitive information out from any messenger-apps.</p>
                    </div>
                </ion-col>
                <ion-col size-sm="3" size-xs="12">
                    <div class="how-white-box">
                        <img src="assets/icon/trace.svg" />
                        <h3>Without a trace</h3>
                        <p>We ensure robust protection of your sensitive information. All data is being encrypted on the client-side. We dont know your ip-address, what you share, or whom you share the secret links with - and most important, the content.</p>
                    </div>
                </ion-col>
                <ion-col size-sm="3" size-xs="12">
                    <div class="how-white-box">
                        <img src="assets/icon/privacy.svg" />
                        <h3>Privacy Protected</h3>
                        <p>You are the only one who knows the link to the secret information you created and whom you share it with. When creating a secret, you can add a password before it can be unlocked. Also it is possible to set a burner-time. No matter what, a secret will be deleted after <strong>14 days</strong>.</p>
                    </div>
                </ion-col>
                <ion-col size-sm="3" size-xs="12">
                    <div class="how-white-box">
                        <img src="assets/icon/lock.svg" />
                        <h3>End-to-end encrypted</h3>
                        <p>All links are hashed on the client-side, meaning even we, dont know the link. Only the creator and receiver knows the secret link. Every link has a unique ID of a length of 36 which is a one-way encryption to be able to access the Secret Message and its content that is encrypted with AES-256.</p>
                    </div>
                </ion-col>
            </ion-row>


            <ion-row class="ion-align-items-center ion-margin-top">
                <ion-col size-sm="12" size-xs="12">
                    <div class="how-white-box">
                        <h2>How it works?</h2>
                        

                        <ion-row class="ion-align-items-center">
                            <ion-col size-sm="4" size-xs="12">
                                <div class="how-step">
                                    <p><span>1</span>Write your message and/or generate password</p>
                                    <img src="assets/step1.png" />
                                </div>
                            </ion-col>
                            <ion-col size-sm="4" size-xs="12">
                                <div class="how-step">
                                    <p><span>2</span>Create Secret Link</p>
                                    <img src="assets/step2.png" />
                                </div>
                            </ion-col>
                            <ion-col size-sm="4" size-xs="12">
                                <div class="how-step">
                                    <p><span>3</span>Share link</p>
                                    <img src="assets/step3.png" />
                                </div>
                            </ion-col>
                        </ion-row>

                    </div>
                </ion-col>
            </ion-row>

        </ion-grid>
    </div>

    <div align="center"><br><br>
        <a href="https://stellarsecurity.com" target="_blank"><img src="assets/Company-Logo-white.png" class="logo"></a>
    </div>

</ion-content>