<app-header [title]="metaTitle" [description]="metaDescription" [keywords]="metaKeywords" [url]="url">
</app-header>
<ion-content [fullscreen]="false" class="main-sec">
  <div class="container privacy-policy-container">
    <div class="title">Privacy Policy</div>
    <div class="privacy-policy-detail">
        <h1>Privacy Policy</h1>
        <p><strong>Effective Date:</strong> June 4, 2025</p>

        <h2>1. Introduction</h2>
        <p>StellarSecret.io is committed to protecting your privacy. This Privacy Policy outlines how we collect, use, and safeguard your information when you use our service.</p>

        <h2>2. Information We Collect</h2>
        <ul>
            <li><strong>Personal Data:</strong> We do not collect personal data such as your name, email address, or IP address.</li>
            <li><strong>Usage Data:</strong> We do not track or log your usage of the service.</li>
        </ul>

        <h2>3. Use of Information</h2>
        <p>Since we do not collect personal or usage data, we do not use your information for any purpose.</p>

        <h2>4. Data Security</h2>
        <p>We prioritize your privacy and take the security of your information seriously. StellarSecret.io uses industry-standard encryption technologies to protect your data.</p>

        <h2>5. Third-Party Services</h2>
        <p>We do not use third-party services that collect or process your data.</p>

        <h2>6. Changes to This Privacy Policy</h2>
        <p>We may update our Privacy Policy from time to time. Any changes will be posted on this page with an updated revision date. We encourage you to review this Privacy Policy periodically for any updates.</p>

        <h2>7. Contact Us</h2>
        <p>If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at:</p>
        <p>
            StellarSecret.io Team<br>
            Email: <a href="mailto:info@stellarsecurity.com">info&#64;stellarsecurity.com</a><br>
            Website: <a href="https://stellarsecret.io" target="_blank">https://stellarsecret.io</a>
        </p>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>