<app-header [title]="metaTitle" 
[description]="metaDescription" 
[keywords]="metaKeywords"
[url]="url">
</app-header>
  
  <ion-content [fullscreen]="false" class="main-sec">
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="5" size-xs="12">
            <div id="container" class="ion-padding">
              <img src="assets/monkeys.png" class="monkeys">
              <h1 class="title">{{ 'HOME.SHARE_TITLE' | translate }}</h1>
              <p class="sub-title">
                {{ 'HOME.SHARE_DESCRIPTION_PART_1' | translate }} {{ 'HOME.SHARE_DESCRIPTION_PART_2' | translate }}
              </p>
              <div class="box">
                <ul>
                  <li>
                    <img src="/assets/icon/tabler-icon-spy-off.svg" valign="top">
                    {{ 'HOME.SHARE_BULLET_1' | translate }}
                  </li>
                  <li>
                    <img src="/assets/icon/tabler-icon-user-shield.svg" valign="top">
                    {{ 'HOME.SHARE_BULLET_2' | translate }}
                  </li>
                  <li>
                    <img src="/assets/icon/tabler-icon-lock-check.svg" valign="top">
                    {{ 'HOME.SHARE_BULLET_3' | translate }}
                  </li>
                </ul>
                <!--<div style="border: 1px #EAEAF0 solid; height: 1px; opacity: 0.1; margin-top: 15px; margin-bottom: 15px;"></div>
                <p>{{ 'HOME.SHARE_ENCRYPTED_BY' | translate }}</p>-->
              </div>
            </div>
          </ion-col>
          <ion-col size-sm="1" size-xs="12"></ion-col>
          <ion-col size-sm="6" size-xs="12">
            <div class="ion-padding white-box-options password-box">
              <ion-textarea autofocus class="ion-padding" [(ngModel)]="addSecretModal.message"
                [placeholder]="'HOME.SHARE_TEXTAREA_PLACEHOLDER' | translate"></ion-textarea>
              <div class="options">
                <div class="options-selector" (click)="optionsToggle()">
                  <strong>{{ 'HOME.SHARE_OPTIONS' | translate }}</strong>
                  <img src="/assets/icon/tabler-icon-circle-chevron-down.svg" style="float: right">
                </div>
                <div class="options-content" *ngIf="optionsDisplay">
                  <br><br>
                  <span>{{ 'HOME.SHARE_BURNER_TIME' | translate }}</span><br><br>
                  <ion-grid class="grid options-grids">
                    <ion-col *ngFor="let burnerTime of burnerTimes" style="padding: 5px!important;">
                      <span (click)="setBurnerTime(burnerTime)" class="timer-option"
                        [ngClass]="{active: chosenBurnerTime === burnerTime}">
                        {{burnerTime}} hours
                      </span>
                    </ion-col>
                  </ion-grid><br>
                  <ion-input class="passphrase-input" autocomplete="off" [placeholder]="'HOME.SHARE_PASS_PHRASE' | translate" type="password"
                    [(ngModel)]="addSecretModal.password"></ion-input><br>
                </div>
              </div>

                <div *ngIf="secretFiles.length > 0">
                    <strong>Attached Files:</strong><br><br>
                    <span *ngFor="let secretFile of secretFiles; let i = index">
                    <ion-icon name="document-outline"></ion-icon> {{secretFile.name}} (<span class="delete-file" (click)="removeFile(i)">remove</span>)<br>
                    </span><br>
                </div>

                <span class="attach-file" (click)="fileInput.click()">
                    <ion-icon name="cloud-upload-outline"></ion-icon> Attach file (max 15 MB)
                </span><br><br>

                <input type="file" #fileInput class="file-input" multiple (change)="onChangeFileUpload($event)" />


              <span class="blue-btn" (click)="createLink()">{{ 'HOME.SHARE_BUTTON' | translate }}</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <div align="center"><br><br>
        <a href="https://stellarsecurity.com" target="_blank" title="stellarsecurity">
          <img src="assets/Company-Logo-white.png" class="logo">
        </a>
      </div> -->
    </div>
    <app-footer></app-footer>

  </ion-content>

  