<ion-header [translucent]="false">
    <ion-toolbar>
      <ion-title>
        <div class="container">
          <ion-row>
            <ion-col size-sm="6" size-xs="6">
              <div class="left logo">
                <ion-button routerLink="/">
                  <img src="/assets/icon/secret_icon_white.png"> 
                  <span>{{ 'HOME.HEADER_TITLE' | translate }}</span>
                </ion-button>
              </div>
            </ion-col>
            <ion-col size-sm="6" size-xs="6">
              <div class="right">
                <ion-row>
                   
                  <ion-col size-sm="6" size-xs="12">
                    <ion-button routerLink="/how-it-works">
                      <img src="/assets/icon/tabler-icon-info-circle.svg"> 
                      <span>{{ 'HOME.HOW_IT_WORKS' | translate }}</span>
                    </ion-button>
                  </ion-col>
                  
                  <ion-col size-sm="6" size-xs="6" class="download-btn">
                    <span id="click-trigger">
                      <img src="/assets/icon/download-icon.svg">
                      {{ 'HOME.SHARE_BUTTON' | translate }}
                    </span>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-popover trigger="click-trigger" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding">
        {{ 'HOME.SHARE_DESCRIPTION_PART_1' | translate }}<br><br>
        <a href="https://stellar-security-secret.en.aptoide.com/app" target="_blank">
          <img style="height: 74px; width: 100%" src="assets/aptoide.png">
        </a><br>
        <a href="https://play.google.com/store/apps/details?id=stellar.secret.app" target="_blank">
          <img style="height: 74px; width: 100%" src="assets/playstore.png">
        </a>
        <a href="https://auroraoss.com/" target="_blank">
          <img style="height: 74px; width: 100%" src="assets/aurora.jpg">
        </a>
      </ion-content>
    </ng-template>
  </ion-popover>
  
  <ion-content [fullscreen]="false" class="main-sec">
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="5" size-xs="12">
            <div id="container" class="ion-padding">
              <img src="assets/monkeys.png" class="monkeys">
              <h2 class="title">{{ 'HOME.SHARE_TITLE' | translate }}</h2>
              <p class="sub-title">
                {{ 'HOME.SHARE_DESCRIPTION_PART_1' | translate }} {{ 'HOME.SHARE_DESCRIPTION_PART_2' | translate }}
              </p>
              <div class="box">
                <ul>
                  <li>
                    <img src="/assets/icon/tabler-icon-spy-off.svg" valign="top">
                    {{ 'HOME.SHARE_BULLET_1' | translate }}
                  </li>
                  <li>
                    <img src="/assets/icon/tabler-icon-user-shield.svg" valign="top">
                    {{ 'HOME.SHARE_BULLET_2' | translate }}
                  </li>
                  <li>
                    <img src="/assets/icon/tabler-icon-lock-check.svg" valign="top">
                    {{ 'HOME.SHARE_BULLET_3' | translate }}
                  </li>
                </ul>
                <div style="border: 1px #EAEAF0 solid; height: 1px; opacity: 0.1; margin-top: 15px; margin-bottom: 15px;"></div>
                <p>{{ 'HOME.SHARE_ENCRYPTED_BY' | translate }}</p>
              </div>
            </div>
          </ion-col>
          <ion-col size-sm="1" size-xs="12"></ion-col>
          <ion-col size-sm="6" size-xs="12">
            <div class="ion-padding white-box-options password-box">
              <ion-textarea autofocus class="ion-padding" [(ngModel)]="addSecretModal.message"
                [placeholder]="'HOME.SHARE_TEXTAREA_PLACEHOLDER' | translate"></ion-textarea>
              <div class="options">
                <div class="options-selector" (click)="optionsToggle()">
                  <strong>{{ 'HOME.SHARE_OPTIONS' | translate }}</strong>
                  <img src="/assets/icon/tabler-icon-circle-chevron-down.svg" style="float: right">
                </div>
                <div class="options-content" *ngIf="optionsDisplay">
                  <br><br>
                  <span>{{ 'HOME.SHARE_BURNER_TIME' | translate }}</span><br><br>
                  <ion-grid class="grid options-grids">
                    <ion-col *ngFor="let burnerTime of burnerTimes">
                      <span (click)="setBurnerTime(burnerTime)" class="timer-option"
                        [ngClass]="{active: chosenBurnerTime === burnerTime}">
                        {{burnerTime}} hours
                      </span>
                    </ion-col>
                  </ion-grid><br>
                  <ion-input autocomplete="off" [placeholder]="'HOME.SHARE_PASS_PHRASE' | translate" type="password"
                    [(ngModel)]="addSecretModal.password"></ion-input><br>
                </div>
              </div>
              <span class="blue-btn" (click)="createLink()">
                {{ 'HOME.SHARE_BUTTON' | translate }}
              </span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div align="center"><br><br>
        <a href="https://stellarsecurity.com" target="_blank">
          <img src="assets/Company-Logo-white.png" class="logo">
        </a>
      </div>
    </div>
  </ion-content>
  